@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 232, 240;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 2, 6, 23;
}

html,
body {
  background-color: rgb(2, 6, 23);
  /* bg-slate-950 */
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  /* Prevent horizontal scroll from blobs */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}